.titulo-principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

.bloque-principal{
    background: #cccccc;
    padding: 20px;
}


p{
    text-align: center;
    background: #cccccc;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}

.titulos-centrados{
    text-align: center;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenes-diferenciales{
    width: 50%;
}